.c-nav {
    @apply w-full flex items-center justify-center gap-10;

    &--vertical{
        @apply gap-6 pl-10 md:pl-0 flex-col items-start
    }

    &__item{
        @apply text-3xl	text-fourth uppercase cursor-pointer relative hover:opacity-70;

        &:before{
            content: "";
            @apply w-[0] h-[4px] absolute left-0 -bottom-0 bg-primary;
            transition: .5s;
            -webkit-transition: .5s;
        }

        &:hover{
            &:before{
                @apply w-full;
            }
        }
    }
}


.c-social-menu {

    @apply lg:flex items-center hidden gap-12 mr-20;

    &__icon {
        width: 35px;
        height: 100%;
        transition: .3s ease-in-out;
        fill: rgba(var(--primary));
        cursor: pointer;
        background: #000000;
        border-radius: 9999px;

    }
    &__item {
        cursor: pointer;
        position: absolute;
        background: transparent;
    }

}
.c-social-menu__item:first-child {
    margin-left: 0;
}

.c-social-menu__item {
    margin: 0 .8rem;
    display: flex;
}

.c-social-menu__item:hover {
    .c-social-menu__icon {
        fill: #ffffff;
    }
}


.hero-logo {
    width: 100%;
    height: 100%;
}

.hero-logo img {
    width: 90%;
    height: auto;
    position: relative;
    top: -86;
    stroke: #000000;
}

@media (min-width:1024px) {
    .hero-logo {
        width: 240px;
        height: 120px;
        justify-content: center;
        align-items: center;
    }
}

button {
    @apply bg-transparent
}

.o-hamburguer {
    @apply h-6 lg:flex items-center justify-end box-content cursor-pointer relative lg:w-14 hidden ;
}





a:-webkit-any-link {
    color: white;
    cursor: pointer;
}

svg:not(:root) {
    overflow-clip-margin: content-box;
    overflow: hidden;
}

.o-hamburguer {

    .trace{
        @apply w-28 h-9 flex items-center justify-center rounded-full;

        span {
            @apply w-10 h-[4px] bg-primary relative rounded-full ;
            transition: 0.3s ease-in-out, top 0.3s ease-out;

            &:before, &:after {
                content: "";
                @apply w-full h-full bg-primary absolute left-0 rounded-full ;
                transition: 0.3s ease-in-out, top 0.3s ease-out;
            }

            &:before {
                top: 10px;
            }

            &:after {
                bottom: 10px;
            }
        }
    }

    &.active {
        .trace span {
            background-color: transparent;
            transition: 0.3s ease-out;

            &:before {
                top: 0!important;
                transform: rotate3d(0, 0, 1, -45deg);
                background-color: rgba(var(--primary));
            }

            &:after {
                top: 0!important;
                transform: rotate3d(0, 0, 1, 45deg);
                background-color: rgba(var(--primary));
            }
        }
    }
}

.o-hamburguer:hover {
    span,
    span::before,
    span::after {
        @apply bg-white
    }
}

.c-social__title {
    visibility: visible;
    height: 100%;
}
