.c-nav {
    @apply w-full flex items-center justify-center gap-10;

    &--vertical{
        @apply gap-6 pl-10 md:pl-0 flex-col items-start
    }

    &__item{
        @apply text-3xl	text-fourth uppercase cursor-pointer relative hover:opacity-70;

        &:before{
            content: "";
            @apply w-[0] h-[4px] absolute left-0 -bottom-0 bg-primary;
            transition: .5s;
            -webkit-transition: .5s;
        }

        &:hover{
            &:before{
                @apply w-full;
            }
        }
    }
}
