.c-header {
    @apply w-full md:py-12 bg-transparent justify-center md:fixed absolute top-0 left-0 z-10 transition-all ease-in-out duration-300 md:flex;

    &.active {
        @apply py-4 ;

    }


}

.c-sidebar-desktop {
    @apply bg-tertiary fixed bottom-0 w-full h-full invisible z-[-9] scale-125 flex flex-col justify-center items-center opacity-0;
    background-size: cover !important;
    -webkit-transition: 200ms ease-in;
    transition: 200ms ease-in;

    @apply flex;

    &.active {
        @apply visible scale-100 opacity-100 z-[9];
    }

    .text-social {
        @apply text-primary text-3xl font-bold font-secondary tracking-[0.15rem];
        text-orientation: mixed;
        writing-mode: vertical-rl;
        transform: rotate(-180deg);
    }

    &__box {
        width: 80px;
        height: calc(100% - 62px);
        position: relative;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .c-menu__text {
            font-size: 2.0rem;
            top: 50px;
            font-weight: bold;
            //position: absolute;
            transform: rotate(-90deg);

        }
    }

    &:before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0);
        background-blend-mode: overlay;
        mix-blend-mode: normal;
        // backdrop-filter: blur(2px);

    }

    &__logo {
        @apply absolute md:top-8 md:left-0 md:h-20 object-contain;

        //@media(min-width:1200px) {
        //    //display: block;
        //    //position: absolute;
        //    //top: 20px;
        //
        //}
    }
}


.c-sidebar-mb {
    width: 100%;
    height: 100%;
    position: fixed;
    bottom: -100%;
    visibility: hidden;
    -webkit-transition: 200ms ease-in;
    transition: 200ms ease-in;
    z-index: 12;
    flex-direction: row;
    justify-content: flex-start;

    @apply flex pb-[64px];

    &.active {
        bottom: 0;
        visibility: visible;
        z-index: 12;
    }

    .text-social {
        @apply text-white text-3xl font-bold font-secondary tracking-[0.15rem];
        text-orientation: mixed;
        writing-mode: vertical-rl;
        transform: rotate(-180deg);
    }

    &__box {
        width: 80px;
        height: calc(100% - 62px);
        position: relative;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .c-menu__text {
            font-size: 2.0rem;
            top: 50px;
            font-weight: bold;
            //position: absolute;
            transform: rotate(-90deg);

        }
    }

    &:before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.7);
        background-blend-mode: overlay;
        mix-blend-mode: normal;
        backdrop-filter: blur(5px);
        z-index: -1;
    }


}


.c-header__item {
    @apply hidden md:block;

    &.o-hamburguer {

        .trace {
            @apply w-14 h-14 flex items-center justify-center rounded-full;

            span {
                @apply w-10 h-1 bg-white relative rounded-full;
                transition: 0.2s ease-in-out, top 0.2s ease-out;

                &:before,
                &:after {
                    content: "";
                    @apply h-full bg-white absolute left-0 rounded-full;
                    transition: 0.2s ease-in-out, top 0.2s ease-out;
                }

                &:before {
                    @apply w-6 top-3.5;
                }

                &:after {
                    @apply w-14 bottom-3.5;
                }
            }
        }

        &.active {
            .trace span {
                background-color: transparent;
                transition: 0.2s ease-out;

                &:before {
                    top: 0 !important;
                    width: 100% !important;
                    transform: rotate3d(0, 0, 1, -45deg);
                }

                &:after {
                    top: 0 !important;
                    transform: rotate3d(0, 0, 1, 45deg);
                    width: 100% !important;
                }
            }
        }
    }
}


.c-header-mb {
    @apply w-full fixed bottom-0 flex justify-center z-[10] gap-[2px] md:hidden;

    &__item {
        @apply bg-primary text-white flex-1 px-3 py-2.5 text-sm font-secondary font-medium flex flex-col justify-center items-center gap-0.5;
    }

    .o-hamburguer {

        .trace {
            @apply w-6 h-5 flex items-center justify-center rounded-full;

            span {
                @apply w-full h-[2px] bg-white relative rounded-full;
                transition: 0.2s ease-in-out, top 0.2s ease-out;

                &:before,
                &:after {
                    content: "";
                    @apply w-full h-full bg-white absolute left-0 rounded-full;
                    transition: 0.2s ease-in-out, top 0.2s ease-out;
                }

                &:before {
                    top: 6px;
                }

                &:after {
                    bottom: 6px;
                }
            }
        }

        &.active {
            .trace span {
                background-color: transparent;
                transition: 0.2s ease-out;

                &:before {
                    top: 0 !important;
                    transform: rotate3d(0, 0, 1, -45deg);
                }

                &:after {
                    top: 0 !important;
                    transform: rotate3d(0, 0, 1, 45deg);
                }
            }
        }
    }
}
