.c-nav {
    @apply w-full flex items-center justify-center  gap-10 md:gap-4 xl:gap-12 md:my-16;

    &--vertical {
        @apply gap-4 flex-col items-start;
    }

    &__item {
        @apply text-2xl font-semibold md:text-base uppercase font-secondary text-secondary leading-none cursor-pointer relative md:tracking-widest md:w-[calc(100%/8)] lg:w-[calc(100%/9)] text-center scale-100 transition-all ease-in-out duration-300;


        .figure-menu {
            @apply w-full aspect-[1/1] overflow-hidden rounded-lg mb-14 relative border-2 border-secondary/30;

        }

        &::before {
            @apply content-[''] absolute left-[50%] bottom-[2.25rem] md:h-[1.875rem] h-0 w-0.5 bg-secondary/30 rounded-full;
        }

        &:hover {
            @apply text-primary  scale-110;

            &::before {
                @apply bg-primary transition-all ease-in-out duration-200;
            }

            .figure-menu{
                @apply border-primary transition-all ease-in-out duration-200;
            }
        }
    }
}

.c-header-mb {
    @apply w-full fixed  bottom-0 flex justify-center z-[10] gap-[2px] lg:hidden;

    &__item {
        @apply bg-primary text-white flex-1 px-3 py-2.5 text-sm font-bold leading-none tracking-wider uppercase  flex flex-col justify-between items-center gap-1.5;
    }

    .o-hamburguer {

        .trace {
            @apply w-6 h-5 flex items-center justify-center rounded-full;

            span {
                @apply w-full h-[2px] bg-white relative rounded-full;
                transition: 0.2s ease-in-out, top 0.2s ease-out;

                &:before,
                &:after {
                    content: "";
                    @apply w-full h-full bg-white absolute left-0 rounded-full;
                    transition: 0.2s ease-in-out, top 0.2s ease-out;
                }

                &:before {
                    top: 6px;
                }

                &:after {
                    bottom: 6px;
                }
            }
        }

        &.active {
            .trace span {
                background-color: transparent;
                transition: 0.2s ease-out;

                &:before {
                    top: 0 !important;
                    transform: rotate3d(0, 0, 1, -45deg);
                }

                &:after {
                    top: 0 !important;
                    transform: rotate3d(0, 0, 1, 45deg);
                }
            }
        }
    }
}