.c-music {
    @apply bg-primary w-full py-12 md:py-16 bg-cover bg-no-repeat;

    background-image: linear-gradient(to  right, rgba(var(--primary)) -25%, black, black, rgba(var(--primary)) 125%);

    .c-streaming {
        @apply flex justify-center items-center gap-3 md:gap-5;

        &__link {
            @apply hover:opacity-80 block text-center transition duration-300 ease-in-out scale-95 hover:scale-100;

            svg {
                @apply mx-auto transition duration-300 ease-in-out;
            }
        }
    }

    .c-album {
        &__item {
            @apply w-full overflow-hidden rounded-sm;

            img {
                @apply md:w-full md:aspect-square md:object-cover duration-300 ease-in-out ;
            }

            &:hover {
                img {
                    @apply md:scale-[1.15];
                }
            }
        }
    }

    &__footer {
        background-image: url("/public/images/bg-music-footer.webp");
        background-repeat: no-repeat;
        background-position: right;
        background-size: cover;
        position: relative;


        &::before {
            @apply content-[''] absolute left-0 top-0 w-full h-full bg-black/50 md:bg-transparent z-[0];
        }

    }
}
