.c-schedule {

    &__item {

        position: relative;
        height: 100%;

        .bg-schedule {

            border-radius: 10px;
           

        }


        &--square {

            @apply w-full;

            .c-schedule {

                &__month {
                    @apply text-white text-3xl uppercase mt-2 ;
                }

                &__day {
                    @apply pt-8 text-white text-[8.5rem] md:text-[.5rem] leading-[7.6rem] font-black uppercase;
                }

                &__state {
                    @apply text-white text-5xl md:text-5xl font-bold;
                }

                &__city {
                    @apply text-white  text-2xl md:text-2xl tracking-[.05em] uppercase;
                }

                &__corporate {
                    @apply text-white text-2xl md:text-2xl tracking-[.05em] font-black uppercase;
                }

                &__details {
                    @apply text-white text-sm font-black uppercase;
                }
            }


        }
    }

    &__month {
        @apply text-white text-base md:text-base font-medium tracking-[0.25rem] uppercase md:mb-8;
    }

    &__day {
        @apply text-white text-8xl md:text-[8.5rem] font-semibold uppercase border-b-2 pb-4 border-white leading-none md:leading-[6.25rem] md:mb-2;

    }

    &__state {
        @apply text-white text-3xl md:text-4xl font-light;
    }

    &__city {
        @apply text-white text-lg md:text-lg tracking-[.05em] font-semibold uppercase;
    }

    &__corporate {
        @apply text-white text-base md:text-lg tracking-[.15em] font-semibold uppercase;
    }

    &__details {
        @apply  bg-black text-sm font-semibold uppercase text-white mx-auto  text-center  py-2.5 px-6 rounded-full;
    }


    

    

    .swipper-navigation {
        @apply w-full mt-5 hidden md:block;
    }

    .swiper-nav-button {
        @apply text-fourth font-secondary font-semibold text-lg tracking-[.15em] cursor-pointer hover:opacity-70 relative;

        &:before {
            content: "";
            @apply w-[30%] h-[3px] absolute -bottom-0 bg-primary;
            transition: .5s;
            -webkit-transition: .5s;
        }

        &:hover {
            &:before {
                @apply w-full
            }
        }

        &.custom-prev-button {
            &:before {
                @apply right-0;
            }
        }

        &.custom-next-button {
            &:before {
                @apply left-0;
            }
        }
    }

    .swiper-button-disabled {
        visibility: hidden;
    }

}