.carousel-gallery {
    &__item {
        @apply relative transition-all ease-in-out duration-300;

        .legend {
            @apply bg-primary-dark flex items-center p-2 absolute bottom-4 md:bottom-16 max-w-[70%] text-left right-0 text-white tracking-wider font-semibold text-xs transition-all ease-in-out;
        }

    }

    .swiper-slide-active {
        padding: 0 !important;


        .legend {
            @apply md:opacity-0;
        }
    }


    .swiper-nav-button {
        @apply text-white font-semibold text-lg font-sans tracking-[.15em] cursor-pointer relative mt-6 md:mt-8 md:mt-2 pb-1.5;



        &.custom-prev-button {
            &:before {
                @apply right-0;
            }
        }

        &.custom-next-button {
            &:before {
                @apply left-0;
            }
        }
    }


    .swiper-button-disabled {
        opacity: 30%;
    }
}


.swipper-navigation {
    @apply w-full hidden md:block;
}

.swiper-nav-button {
    @apply text-white font-normal text-sm uppercase tracking-[.5em] cursor-pointer hover:opacity-70 relative;


    &:hover {
        &:before {
            @apply w-full
        }
    }

    &.custom-prev-button {
        &:before {
            @apply right-0;
        }
    }

    &.custom-next-button {
        &:before {
            @apply left-0;
        }
    }
}

.swiper-button-disabled {
    visibility: hidden;
}
