.c-contact {
    width: 100%;
    height: 100%;
    background-position: right!important;
    background-repeat: no-repeat;
    background-size: cover!important;
    position: absolute;


}

.c-contact::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(rgba(255, 157, 2, 0), rgba(152, 94, 1, 0.6));

    @media (max-width: 768px) {
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
    }
}

.button_email {
    @apply relative flex text-center items-center w-96 gap-5 px-5 py-2 h-full bg-black rounded cursor-pointer hover:opacity-80 hover:ease-in-out hover:duration-300 ;
}


/* Animação de expandir */
.expand-enter-active, .expand-leave-active {
    transition: max-height 1s ease-out, opacity 1s ease-in-out;
    overflow: hidden;
  }


  .expand-enter {
    max-height: 0;
    opacity: 0;
  }


  .expand-leave-to {
    max-height: 0;
    opacity: 0;
  }

  .modal-enter-from {
    opacity: 0;
}

.modal-leave-to {
    opacity: 0;
}

.modal-enter-from .modal-container,
.modal-leave-to .modal-container {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}
